.popup__wrapper {
    background: #fff;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-height: 40%;
    height: 100%;
    flex-direction: column;
    transition: transform .4s ease-in-out;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -2px 8px 0 rgba(23, 156, 222, 0.11);
    transform: translateY(0px);
}

.popupControls {
    display: none;
    padding: 16px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid rgba(23, 156, 222, 0.11);
    box-sizing: border-box;
    text-align: right;
}

.marker__popup{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: auto;
}

.marker__popup--wrapper {
    width: 100%;
}

.marker__popup--header {
    border-bottom: 1px solid rgba(23, 156, 222, 0.11);
}

.marker__popup__header--content {
    position: relative;
    z-index: 3;
    padding: 20px;
}

.marker__popup__header--image {
    position: relative;
    display: flex;
    float: right;
    z-index: 3;
    -webkit-box-align: start;
    align-items: flex-start;
    margin-left: 10px;
}

.marker__popup__header__image--wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.11);
}

.marker__popup__subheader {
    overflow: hidden;
}

.marker__popup__subheader--title{
    outline: 0;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #2AABEE;
    font-weight: 500 !important;
}

.marker__popup__subheader--subtitle {
    font-size: 14px;
    color: rgba(0,0,0,0.6);
    line-height: 20px;
    display: flex;
}

.marker__popup--footer {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-bottom: 0;
}

.error__warning {
    flex: 1 1 auto;
    min-width: 230px;
    padding: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #fff;
    position: relative;
    color: #ff1446;
    line-height: 16px;
    font-size: 13px;
}

.error__warning--icon {
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

.error__warning--icon svg {
    fill: #ff1446;
}

.marker__popup--skills{
    padding: 16px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.04);
    background: #fff;
}

.marker__popup__skills--header {
    font-size: 14px;
    line-height: 20px;
    color: rgba(0,0,0,0.64);
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0 -12px;
}

.skills__list--item {
    position: relative;
    padding: 4px 8px;
    margin-bottom: 12px;
    background: rgba(0,0,0,0.04);
    font-size: 14px;
    line-height: 20px;
    border-radius: 14px;
    flex: 0 0 auto;
}