.list {
    background: #fff;
}

.list__content {
    position: relative;
    z-index: 2;
}

.list__content--header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 3;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    padding: 8px 16px;
    font-size: 13px;
    line-height: 16px;
    color: rgba(0,0,0,0.64);
}

.header__content {
    width: 100%;
    display: flex;
}

